---
# Sorting Data on stackoverflow Data Set
More sorting examples done on real world data.

---

In [ ]:
import pandas as pd
import numpy as np
from IPython.display import display

In [ ]:
# Function for printing a horizontal line. For display purpose
def printhr(s: str = None, n: int = 40):
    """Print a horizontal rule of the character "=" of length n.

    Args:
        s (str, optional): Header message. Defaults to None.
        n (int, optional): Number of characters. Defaults to 50.
    """

    if s:
        print("=" * int(n / 2), s, "=" * int(n / 2))
    else:
        print("=" * n)

In [ ]:
# Stackoverflow developer survey
df = pd.read_csv("data/survey_results_public_2022.csv", index_col="ResponseId")
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="qname")

---
**Sort country alphabetically, and sort by salary (descending) within country.**

---

In [43]:
df_sorted = df.sort_values(by=["Country", "ConvertedCompYearly"], ascending=[True, False])
df_sorted = df_sorted[["Country", "ConvertedCompYearly"]].head(75)
display(df_sorted)

                Country  ConvertedCompYearly
ResponseId
38513       Afghanistan             158484.0
43640       Afghanistan              92448.0
6892        Afghanistan              15600.0
43691       Afghanistan              13212.0
2449        Afghanistan              10894.0
...                 ...                  ...
12748           Albania              85315.0
72371           Albania              66000.0
5622            Albania              63986.0
56883           Albania              57600.0
19216           Albania              48000.0

[75 rows x 2 columns]