---
# Grouping and Aggregating Data
Up until this point, we have been building our pandas foundations and mainly been doing the technical parts (the operations). Now we will be using what we've learned to analyze and explore our stackoverflow data. 

---

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
# Function for printing a horizontal line. For display purpose
def printhr(s: str = None, n: int = 40):
    """Print a horizontal rule of the character "=" of length n.

    Args:
        s (str, optional): Header message. Defaults to None.
        n (int, optional): Number of characters. Defaults to 50.
    """

    if s:
        print("=" * int(n / 2), s, "=" * int(n / 2))
    else:
        print("=" * n)

In [3]:
# Stackoverflow developer survey
df = pd.read_csv("data/survey_results_public_2022.csv", index_col="ResponseId")
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="qname")

---
## Aggregating Data
Aggregation is any process where data is expressed in summary form. (e.g. taking the mean of data)

---

---
### `describe()` Method
Pandas has a `describe()` method that shows different aggregate statistics of the column(s) (determined by the **include** parameter. Defaults to numeric columns).

---

In [4]:
# Applied on df
display(df.describe())

# Applied on a Series (single column)
display(df["ConvertedCompYearly"].describe())

,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

count    3.807100e+04
mean     1.707613e+05
std      7.814132e+05
min      1.000000e+00
25%      3.583200e+04
50%      6.784500e+04
75%      1.200000e+05
max      5.000000e+07
Name: ConvertedCompYearly, dtype: float64

---
### `value_counts()` Method
This method counts the unique row values of a Series or a DataFrame. When used on a DataFrame, a list of labels can be passed to count the unique combinations of the passed labels there are.  
**normalize** is a bool parameter which determines whether the counts are showed in frequencies, or in proportion.

---

In [5]:
# Used on a df with combination of columns
series = df.value_counts(["ConvertedCompYearly", "RemoteWork"])
display(series)

ConvertedCompYearly  RemoteWork
150000.0             Fully remote                            270
200000.0             Fully remote                            242
120000.0             Fully remote                            208
100000.0             Fully remote                            174
180000.0             Fully remote                            172
                                                            ...
43428.0              Fully remote                              1
43380.0              Hybrid (some remote, some in-person)      1
43356.0              Hybrid (some remote, some in-person)      1
43346.0              Fully remote                              1
50000000.0           Full in-person                            1
Name: count, Length: 11465, dtype: int64

In [6]:
# Used on a Series and using the normalize parameter
series = df["ConvertedCompYearly"].value_counts(normalize=True)
display(series)

# We can multiply all the values in the Series by 100
# to show the values in their percentage (out of 100%)
display(series * 100)

ConvertedCompYearly
150000.0    0.010323
200000.0    0.009509
120000.0    0.008957
63986.0     0.007985
100000.0    0.007328
              ...
76472.0     0.000026
1368.0      0.000026
104952.0    0.000026
3648.0      0.000026
110245.0    0.000026
Name: proportion, Length: 7909, dtype: float64

ConvertedCompYearly
150000.0    1.032282
200000.0    0.950855
120000.0    0.895695
63986.0     0.798508
100000.0    0.732841
              ...
76472.0     0.002627
1368.0      0.002627
104952.0    0.002627
3648.0      0.002627
110245.0    0.002627
Name: proportion, Length: 7909, dtype: float64

---
### Measures of Central Tendency
Pandas has a built-in `mean()`, `median()`, and `mode()` methods. These methods can be applied to both Series and DataFrames. 

To apply the methods on all numeric columns of the DataFrame, **True** should be passed to **numeric_only**

---

In [7]:
# Taking median of all numeric columns
medians = df.median(numeric_only=True)
display(medians)

# Note that CompTotal is not normalized; currencies differ

CompTotal                    77500.0
VCHostingPersonal use            NaN
VCHostingProfessional use        NaN
WorkExp                          8.0
ConvertedCompYearly          67845.0
dtype: float64

---
We might ask: what is the typical compensation of software developers in 2022?  
If we decide to use the median as a measure:

**Note: all examples from hereon out are for illustrative purposes only. The methods used might not be the best way to answer the questions**  

---

In [8]:
# Taking the median compensation
# We will use ConvertedCompYearly as it normalizes everything to USD
median_comp = df["ConvertedCompYearly"].median()
display(median_comp)

67845.0

---
We can see that the median salary for software developers is $67,845. (This of course lacks context and does not take account other factors such as experience, among others)

---

---
## Grouping Data
pandas has a group object that can be created using the `groupby()` method. This method returns a groupby object. There are 2 groupby objects: the DataFrame.groupby and the Series.groupby, where some methods are exlusive to each.

`groupby()` takes a **by** parameter that will group rows according to the passed value. A list of labels can be passed to group entries with combinations of the labels.  


### groupby.groups Attribute
Groupings of the current groupby object can be viewed by the `.groups` attribute. This returns a dict of the groupings of group \<group_label\>:\<list_of_indexes_of_that_group\> key:value pairs.

---

---
**Suppose we want to know the frequencies of organization size grouped by country**

---

In [9]:
# First we create a DataFrame.groupby object:
country_group = df.groupby("Country")

# View groups
groups = country_group.groups
display(groups)

{'Afghanistan': [1960, 2449, 2738, 3642, 3776, 3887, 4503, 5465, 6243, 6777, 6892, 7945, 8891, 10234, 10911, 13852, 15608, 17039, 17470, 19202, 21766, 22877, 23162, 23224, 24813, 25963, 26618, 28435, 28583, 29705, 30041, 30851, 32133, 33329, 33429, 34044, 38513, 42123, 42871, 43640, 43691, 46026, 46423, 48960, 49274, 51189, 51548, 53961, 55310, 55394, 55666, 56189, 56267, 56356, 58078, 60147, 60517, 60626, 60650, 61618, 61768, 61936, 64907, 67566, 67667, 69400, 69587, 70466, 71716], 'Albania': [5622, 5832, 7569, 7679, 8054, 9519, 9650, 10347, 12748, 14027, 17275, 18462, 19216, 19864, 21056, 21121, 21147, 21212, 23139, 23213, 23694, 24581, 25126, 25179, 29793, 32301, 33423, 33467, 33980, 34050, 34219, 35056, 35598, 36239, 40659, 42517, 42875, 43538, 43559, 44382, 48376, 49362, 52768, 53227, 56883, 57991, 58291, 60812, 63271, 65213, 65421, 66018, 67962, 68078, 68320, 68850, 68973, 72371, 72923], 'Algeria': [1454, 6267, 6714, 11295, 11327, 19841, 19903, 20705, 21828, 23355, 23706, 23858, 24368, 25538, 25583, 26424, 30329, 36347, 36738, 38110, 38378, 38796, 41373, 42728, 43442, 44970, 50862, 53209, 54773, 56231, 56379, 59270, 64554, 66583, 68462, 68884], 'Andorra': [2774, 5018, 5871, 11700, 26587, 34793, 41340, 42648, 43575, 49967, 60799, 61347, 63823, 65444, 65562], 'Angola': [10982, 15695, 18950, 22386, 25281, 38010, 42189, 47226, 49875, 55638, 69016, 69316], 'Antigua and Barbuda': [25707, 26281], 'Argentina': [545, 966, 1313, 1520, 1540, 1934, 2169, 2238, 2487, 2732, 2807, 2876, 2958, 3044, 3110, 3393, 3491, 5453, 5985, 6305, 8514, 8778, 9130, 9186, 9765, 9817, 9848, 9903, 9935, 10002, 10131, 10247, 10505, 10766, 10997, 11261, 11377, 11723, 11944, 12108, 12646, 12683, 12776, 12814, 12932, 13026, 13185, 13202, 13296, 13320, 13349, 13390, 13396, 13648, 13909, 14034, 14060, 14082, 14101, 14214, 14253, 14341, 14355, 14443, 14787, 14864, 14885, 15201, 15212, 15227, 15330, 15356, 15471, 15504, 15532, 15678, 15681, 15697, 15716, 15822, 15949, 16019, 16078, 16456, 16481, 17191, 17490, 17742, 18616, 18732, 19013, 19067, 19086, 19568, 19701, 19740, 19863, 19946, 20021, 20163, ...], 'Armenia': [1108, 1645, 4542, 4666, 4673, 5427, 5895, 6063, 6067, 6576, 6582, 7491, 8182, 8224, 9274, 9969, 9988, 10492, 10846, 11541, 11898, 12717, 13299, 13345, 14057, 14824, 15313, 17323, 17660, 17687, 17903, 18180, 18857, 18901, 19017, 19759, 20012, 23802, 23878, 24360, 26376, 26968, 28232, 30810, 31053, 33043, 33226, 33519, 36161, 36632, 37360, 38156, 38177, 39576, 40789, 42205, 43739, 45665, 46338, 49603, 51068, 52856, 52947, 53436, 54750, 55570, 55590, 55693, 56171, 56261, 56371, 56622, 56982, 57360, 57784, 57995, 58032, 58633, 59114, 60601, 62446, 63534, 64544, 65067, 65626, 67452, 68003, 68672, 68817, 70080, 70878, 70994, 73023], 'Australia': [14, 68, 356, 476, 497, 505, 575, 626, 673, 745, 801, 959, 1405, 1814, 2012, 2033, 2040, 2137, 2184, 2345, 2349, 2352, 2356, 2398, 2469, 2477, 2480, 2529, 2558, 2565, 2574, 2576, 2597, 2598, 2623, 2639, 2641, 2643, 2644, 2655, 2656, 2697, 2700, 2728, 2760, 2792, 2793, 2796, 2805, 2808, 2816, 2830, 2862, 2869, 2870, 2926, 2929, 2938, 2939, 2946, 2953, 2960, 2963, 2974, 2978, 2994, 2995, 3014, 3035, 3065, 3081, 3097, 3103, 3112, 3117, 3120, 3124, 3125, 3188, 3232, 3235, 3254, 3272, 3285, 3289, 3296, 3328, 3339, 3362, 3416, 3423, 3425, 3435, 3443, 3445, 3463, 3499, 3502, 3517, 3522, ...], 'Austria': [18, 19, 21, 45, 148, 214, 250, 286, 324, 330, 352, 478, 624, 649, 705, 770, 780, 852, 1151, 1173, 1212, 1220, 1392, 1456, 1626, 1694, 1930, 1932, 1972, 1982, 2024, 2073, 2176, 2219, 2290, 2295, 2337, 2406, 2788, 2836, 3544, 3988, 4109, 4240, 4380, 4396, 4420, 4537, 4544, 4556, 4580, 4608, 4629, 4733, 4742, 4779, 4787, 4809, 4873, 4929, 4954, 4957, 4961, 4966, 4977, 5106, 5132, 5160, 5191, 5198, 5349, 5406, 5418, 5439, 5441, 5452, 5476, 5539, 5552, 5577, 5627, 5692, 5716, 5820, 5824, 5880, 6002, 6003, 6013, 6037, 6158, 6194, 6247, 6336, 6347, 6445, 6608, 6626, 6710, 6991, ...], 'Azerbaijan': [3532, 3933, 4770, 5256, 6354, 7283, 7933, 10148, 10214, 10433, 11987, 12360, 12586, 12652, 12982, 13778, 14691, 16331, 17456, 18665, 18677, 18906, 20724, 23641, 24328, 24897, 25212, 25403, 25465, 26055, 26328, 26542, 27030, 27190, 27220, 27376, 27599, 28936, 28986, 30085, 30386, 30444, 31127, 32346, 36677, 38658, 41555, 46205, 49150, 51148, 52204, 54342, 55067, 55720, 56627, 56628, 56692, 57590, 57841, 62925, 65084, 65183, 65768, 66157, 67076, 67146, 69363, 70188, 71533], 'Bahamas': [12912, 51371, 56703, 70491], 'Bahrain': [2324, 10066, 13082, 25925, 28890, 29137, 31098, 32527, 43111, 57398, 64808, 67682, 68037, 70901], 'Bangladesh': [646, 809, 825, 1126, 1279, 1293, 1403, 1582, 2159, 2809, 3370, 3485, 3533, 3547, 3591, 3685, 3747, 3751, 3780, 3806, 3855, 3856, 3906, 3945, 3947, 3982, 4054, 4067, 4135, 4210, 4225, 4272, 4273, 4285, 4364, 4366, 4401, 4424, 4427, 4488, 4559, 4607, 4624, 4678, 4683, 4708, 4722, 4739, 4748, 4777, 4825, 4898, 5036, 5059, 5206, 5307, 5475, 5596, 5652, 5654, 5790, 5970, 6217, 6296, 6532, 6851, 6852, 7118, 7250, 7308, 7324, 7593, 7796, 7813, 8056, 8418, 8479, 8717, 8737, 8756, 8845, 8854, 8857, 9125, 9225, 9286, 9305, 9428, 9453, 9827, 9883, 10007, 10080, 10253, 10290, 10563, 10680, 11303, 11368, 11537, ...], 'Barbados': [16158, 31472, 32723, 38674, 39064, 43966], 'Belarus': [209, 1277, 2270, 3772, 5625, 5789, 6113, 6123, 7087, 7559, 7646, 8406, 8693, 9110, 9460, 9785, 9944, 9975, 10314, 10902, 11510, 12201, 12286, 12568, 13946, 13985, 14305, 14479, 14682, 15282, 15289, 16616, 16787, 16995, 17221, 17416, 17544, 18520, 18572, 18953, 19312, 19909, 20837, 21782, 21794, 22580, 23097, 23124, 23136, 23433, 23817, 24058, 24437, 24568, 24619, 25115, 25429, 27165, 27445, 29083, 29286, 29543, 29552, 30084, 31157, 33089, 33111, 33256, 33358, 34105, 34110, 35469, 35477, 36296, 36297, 36850, 37087, 37770, 38567, 38765, 40425, 40779, 40827, 42876, 43359, 44555, 45671, 46401, 47903, 49135, 49140, 49572, 50687, 51303, 52179, 52639, 52770, 53189, 53529, 53740, ...], 'Belgium': [157, 216, 322, 425, 523, 570, 654, 715, 777, 937, 981, 1055, 1467, 1536, 1652, 1692, 1807, 1896, 2118, 2327, 2375, 2454, 2512, 2665, 2705, 2990, 3749, 3979, 4089, 4242, 4313, 4336, 4407, 4495, 4555, 4614, 4646, 4714, 4731, 4735, 4805, 5341, 5659, 5757, 5842, 5846, 5967, 5986, 6004, 6011, 6211, 6214, 6303, 6310, 6315, 6446, 6561, 6613, 6618, 6651, 6685, 6704, 6743, 6745, 6749, 6782, 6802, 6816, 6861, 6931, 6937, 6973, 6987, 6988, 7112, 7183, 7200, 7204, 7211, 7309, 7418, 7594, 7661, 7713, 7760, 7887, 7926, 7984, 7993, 8095, 8100, 8350, 8383, 8407, 8519, 8576, 8609, 8651, 8720, 8742, ...], 'Belize': [3082, 16108, 46861], 'Benin': [7360, 8435, 12074, 14913, 25029, 27018, 31022, 35482, 39829, 43792, 56155], 'Bhutan': [14222, 29187, 32081, 32355, 67771], 'Bolivia': [3183, 9904, 10948, 11244, 11948, 13337, 13520, 15224, 21218, 22435, 28881, 30228, 30425, 30448, 31299, 31738, 37120, 37710, 39486, 39699, 40248, 41063, 41127, 41203, 41810, 44770, 44857, 44921, 46303, 46567, 46656, 46706, 46741, 46781, 50517, 51389, 54182, 56977, 59231, 66891, 70462, 70467, 72970, 73209], 'Bosnia and Herzegovina': [1061, 1358, 1654, 4782, 4930, 4949, 5017, 5507, 5998, 7038, 7217, 7970, 8285, 10248, 10250, 11546, 12504, 12610, 12611, 12726, 12784, 13313, 14130, 14397, 14593, 14779, 17328, 17409, 17810, 17852, 18243, 18464, 19220, 20665, 21954, 21996, 23059, 23201, 23414, 24472, 24621, 24772, 26423, 26458, 26662, 26838, 27041, 28702, 28753, 30046, 30487, 30716, 31119, 33092, 33480, 33600, 33770, 33919, 34931, 35409, 35999, 36633, 39303, 39854, 42890, 47005, 51215, 52762, 54481, 54555, 54932, 55525, 56004, 56556, 56749, 56910, 56947, 58687, 59047, 59247, 59401, 59436, 59997, 60667, 60945, 62472, 62483, 62512, 63063, 63742, 64301, 65184, 67642, 68292, 68784, 69424, 70706, 71322, 71471, 71717, ...], 'Botswana': [7477, 18752, 21679, 33341, 34608, 35657], 'Brazil': [67, 128, 135, 182, 235, 280, 374, 378, 463, 663, 754, 767, 845, 890, 1012, 1038, 1107, 1109, 1132, 1195, 1247, 1329, 1489, 1505, 1612, 1664, 1699, 1829, 1831, 2028, 2116, 2363, 2474, 2521, 2687, 2772, 2775, 2811, 2829, 2840, 2908, 3017, 3021, 3027, 3071, 3096, 3107, 3136, 3154, 3158, 3163, 3166, 3174, 3203, 3206, 3222, 3240, 3244, 3250, 3298, 3307, 3322, 3329, 3340, 3376, 3424, 3488, 3548, 3631, 3650, 3664, 3827, 4053, 4126, 4411, 4654, 4694, 5008, 5546, 7255, 7339, 7403, 7835, 7912, 7947, 7960, 7966, 8181, 8232, 8257, 8263, 8286, 8325, 8360, 8387, 8405, 8420, 8569, 8571, 8575, ...], 'Brunei Darussalam': [54764], 'Bulgaria': [160, 2062, 3171, 4074, 4083, 4575, 4920, 4959, 4994, 5074, 5102, 5339, 5496, 5504, 5945, 5972, 6244, 6311, 7044, 7230, 7634, 7665, 7699, 7975, 8174, 8391, 8392, 8478, 8487, 8683, 8726, 8753, 8760, 9200, 9334, 9444, 9764, 10179, 10706, 10785, 10838, 11080, 11084, 11252, 11321, 11361, 11423, 11963, 12409, 12473, 12558, 13523, 13618, 13653, 14114, 14655, 14701, 14702, 14892, 14917, 15952, 16299, 16800, 16839, 16883, 16991, 17104, 17281, 17358, 17415, 17969, 18178, 18265, 18405, 18421, 18671, 18714, 18787, 18808, 18935, 19167, 19192, 19295, 19317, 19541, 20159, 20343, 20542, 20693, 20940, 20957, 21182, 21313, 21436, 21533, 21577, 21872, 21993, 22056, 22094, ...], 'Burkina Faso': [50639], 'Cambodia': [5091, 5308, 5974, 6272, 8030, 9474, 15832, 15956, 22772, 22990, 27943, 28667, 28801, 29799, 31705, 31915, 32563, 32639, 34141, 35739, 42176, 42196, 47721, 52756, 54521, 62137, 62297, 64803, 66273, 67281, 69772, 70634, 70686, 71700, 72112], 'Cameroon': [6660, 9632, 10352, 14641, 19432, 23374, 23949, 26095, 26163, 27457, 30072, 34664, 34956, 35130, 35147, 36046, 36119, 36246, 36841, 37038, 37432, 43657, 46215, 46748, 55167, 62823, 65430, 65732, 65994, 66361, 66621, 67696, 69230, 72973], 'Canada': [2, 23, 33, 37, 61, 107, 121, 127, 145, 238, 243, 255, 263, 297, 298, 331, 337, 350, 426, 468, 480, 509, 510, 516, 524, 527, 535, 536, 541, 579, 580, 588, 589, 628, 631, 644, 650, 652, 679, 686, 727, 728, 733, 752, 753, 793, 814, 835, 836, 863, 866, 868, 874, 902, 914, 923, 975, 1016, 1018, 1024, 1031, 1032, 1047, 1057, 1070, 1080, 1085, 1086, 1120, 1122, 1124, 1158, 1164, 1170, 1181, 1189, 1193, 1225, 1232, 1234, 1235, 1243, 1249, 1256, 1280, 1305, 1308, 1317, 1319, 1328, 1331, 1361, 1371, 1377, 1378, 1379, 1399, 1465, 1491, 1511, ...], 'Cape Verde': [8955, 15766, 30518, 53869], 'Chad': [23609, 35233, 66622], 'Chile': [158, 689, 1675, 1882, 2423, 3275, 3341, 3366, 3503, 8196, 10159, 11333, 11610, 11765, 11874, 11983, 12127, 12613, 12682, 12697, 12841, 12884, 13142, 13201, 13385, 13707, 13743, 13851, 13855, 13997, 14115, 14122, 14581, 14704, 15293, 15333, 15428, 15442, 15786, 15872, 15985, 16102, 16320, 16440, 19419, 19924, 20143, 20844, 21075, 22157, 22186, 22445, 22600, 24065, 24329, 24379, 25105, 25244, 25430, 25679, 27237, 27580, 27772, 27776, 29830, 30005, 30148, 30748, 31296, 31313, 31350, 31421, 31707, 32191, 37078, 37247, 37301, 37330, 37441, 37442, 37446, 37449, 37502, 37513, 37564, 37570, 37617, 37682, 37949, 37982, 38026, 38342, 38660, 38911, 38968, 39003, 39024, 39249, 39308, 39407, ...], 'China': [361, 443, 599, 691, 1899, 2307, 2821, 2863, 3185, 3194, 3326, 3348, 3455, 3513, 3526, 3659, 3726, 3764, 3767, 3929, 4002, 4105, 4141, 4185, 4232, 4265, 4293, 4308, 4386, 4395, 4423, 4453, 4576, 4653, 4702, 4727, 4784, 4798, 4837, 5012, 5058, 5070, 5234, 5264, 5336, 5601, 5615, 5702, 5767, 5804, 5839, 5919, 6097, 6193, 6231, 6439, 6477, 6625, 6676, 6754, 6794, 6829, 6864, 6881, 6907, 7009, 7076, 7119, 7229, 7274, 7340, 7616, 7641, 7694, 7871, 8049, 8167, 8204, 8402, 8444, 8472, 8511, 8602, 8749, 8822, 8949, 9161, 9544, 10097, 10125, 10450, 10758, 11036, 11041, 11270, 11809, 12097, 12306, 12358, 12418, ...], 'Colombia': [1267, 1430, 2377, 2699, 2937, 3224, 3404, 3840, 4113, 7233, 9530, 9552, 9717, 9895, 10409, 10744, 11112, 11316, 11759, 11774, 11803, 12081, 12170, 12420, 12454, 12802, 13343, 13371, 13427, 13754, 13980, 14383, 14645, 14888, 14947, 15094, 15114, 15744, 15989, 16193, 16380, 16501, 16664, 17357, 18883, 20108, 20396, 20791, 21524, 21540, 21908, 22224, 22325, 22458, 22477, 22507, 22740, 22773, 22887, 23076, 23986, 24258, 24445, 24631, 24663, 24674, 24777, 24890, 25034, 25412, 25453, 25591, 25642, 25650, 25656, 25697, 26709, 27111, 27794, 27879, 28506, 29582, 29677, 30001, 30627, 30635, 30806, 30975, 31132, 31138, 31434, 31504, 31526, 31529, 31632, 31669, 37842, 37876, 37956, 38002, ...], 'Congo, Republic of the...': [17858, 19791, 24296, 34775, 36525, 37107, 48191, 52941, 54183, 56043, 65137, 70151], 'Costa Rica': [1336, 1346, 1356, 2369, 2572, 10852, 11068, 12780, 14170, 14916, 17092, 18984, 20507, 20727, 21144, 21181, 21360, 21980, 22266, 22510, 22681, 24943, 25106, 27305, 27552, 27655, 30494, 30929, 31072, 31452, 31468, 31590, 38574, 38689, 38720, 39439, 40200, 40322, 40374, 40636, 40718, 40855, 41534, 44405, 44515, 45629, 45644, 46879, 51316, 51392, 51425, 51735, 51755, 51972, 52262, 53308, 53630, 54028, 54029, 55353, 55389, 59713, 61537, 61808, 62267, 64308, 66132, 66202, 66636, 67163, 70310, 71305, 71789, 71929, 72710, 72991], 'Croatia': [10, 1008, 1043, 1613, 1633, 3509, 4525, 4541, 4546, 4717, 5404, 5458, 5514, 5565, 5621, 5793, 5981, 6464, 6787, 7150, 7262, 7901, 8758, 8994, 9709, 10225, 10401, 10724, 11007, 11016, 11116, 11608, 12115, 12663, 13961, 13977, 14153, 14185, 14393, 14712, 15198, 15292, 17114, 17377, 17842, 18632, 18668, 19658, 19781, 20085, 20660, 21300, 23514, 23678, 23798, 24225, 24412, 24721, 24941, 25053, 25083, 25134, 25162, 26241, 26287, 26377, 26947, 27082, 27116, 27399, 27621, 27889, 28399, 29266, 29644, 29733, 30525, 33302, 33462, 33562, 33579, 33893, 33997, 34142, 34175, 34285, 34428, 34693, 34914, 35249, 35277, 35431, 35524, 35529, 36097, 36105, 36676, 36807, 36895, 36966, ...], 'Cuba': [9450, 10260, 10878, 13858, 14580, 16843, 18164, 19437, 21562, 25532, 26936, 26964, 27498, 29870, 30269, 37221, 37484, 38280, 40115, 41507, 44339, 45092, 50065, 53967, 56572, 57268, 59763, 59933, 64638, 67387, 68184], 'Cyprus': [2002, 2595, 3682, 4668, 5171, 5932, 6825, 7810, 10944, 11100, 11401, 11521, 15109, 16197, 17243, 20509, 20534, 20681, 24906, 25119, 26616, 28469, 29222, 33024, 33051, 33059, 33165, 33261, 33318, 33496, 33788, 34075, 34396, 34482, 36537, 36992, 41133, 41714, 42321, 43213, 46749, 47996, 48985, 51778, 53050, 53078, 56540, 59382, 60975, 61029, 61384, 62833, 65151, 67372, 67476, 67677, 69489, 71625, 71806, 72107, 73019], 'Czech Republic': [17, 40, 51, 53, 267, 310, 453, 486, 617, 688, 711, 804, 806, 911, 1013, 1078, 1097, 1166, 1432, 1532, 1803, 1914, 1952, 1986, 2067, 2110, 2145, 2164, 2244, 2314, 2359, 3076, 3560, 4041, 4203, 4211, 4472, 4567, 4595, 4710, 4734, 4863, 4922, 4932, 4933, 5047, 5099, 5122, 5158, 5208, 5268, 5378, 5460, 5536, 5560, 5588, 5655, 5679, 5783, 5792, 5801, 5803, 6085, 6100, 6110, 6125, 6201, 6227, 6235, 6269, 6324, 6432, 6438, 6531, 6862, 6897, 7104, 7109, 7164, 7254, 7302, 7346, 7380, 7420, 7475, 7490, 7548, 7673, 7844, 7891, 7902, 7909, 7913, 7974, 8001, 8003, 8005, 8125, 8135, 8208, ...], 'CÃ´te d'Ivoire': [16015, 20589, 30492, 35476, 37917, 42944, 45516, 50385, 58334, 59008, 61527, 67322, 68181, 68622], 'Democratic Republic of the Congo': [14399, 23552, 36943, 50701, 53920, 57862, 61093], 'Denmark': [81, 119, 411, 532, 595, 645, 721, 784, 812, 822, 876, 952, 958, 993, 1011, 1026, 1152, 1165, 1206, 1274, 1288, 1372, 1437, 1512, 1539, 1586, 1589, 1629, 1637, 1676, 1701, 1730, 1754, 1937, 1962, 1988, 2026, 2084, 2104, 2131, 2143, 2212, 2231, 2340, 2405, 2578, 2920, 3793, 3799, 3822, 3830, 3861, 3918, 4071, 4325, 4412, 4506, 4510, 4520, 4548, 4590, 4630, 4679, 4792, 4834, 4973, 5028, 5046, 5087, 5138, 5273, 5445, 5599, 5604, 5614, 5821, 5857, 5912, 5992, 6099, 6111, 6179, 6288, 6423, 6453, 6545, 6619, 6935, 6942, 7221, 7436, 7522, 7583, 7629, 7692, 7843, 7885, 8041, 8278, 8287, ...], 'Djibouti': [66737], 'Dominican Republic': [683, 2466, 2472, 4750, 9471, 11070, 11457, 12755, 14093, 15215, 15480, 16457, 18256, 18788, 19833, 20009, 20348, 21686, 22035, 22797, 22858, 23891, 25081, 25533, 25790, 26321, 26437, 27564, 28095, 28342, 29307, 30069, 37163, 37334, 37337, 37955, 37963, 38157, 38217, 38375, 38390, 38729, 38985, 39599, 39696, 40097, 40245, 41052, 41298, 42900, 44557, 45211, 46372, 46538, 47180, 47299, 50019, 50136, 51128, 51447, 51991, 53769, 53916, 54402, 54577, 57380, 58962, 59354, 61942, 62171, 64189, 64335, 64512, 64548, 64589, 65833, 65889, 67951, 68675, 70072, 71963, 72508, 72662], 'Ecuador': [1027, 1964, 2839, 2931, 8810, 9880, 11102, 12179, 13038, 14523, 14869, 15001, 15502, 15705, 20409, 21322, 21629, 21748, 22555, 22738, 23077, 24768, 27702, 28354, 30382, 30607, 31153, 31737, 35787, 37254, 37971, 38034, 38202, 38481, 39034, 39089, 39386, 39597, 39756, 40295, 40380, 40667, 41194, 43909, 44235, 44795, 45121, 45137, 45195, 45358, 45403, 45461, 47015, 47657, 47807, 52246, 53677, 53918, 54551, 55545, 55547, 55774, 55854, 56361, 59519, 63771, 64374, 64549, 64689, 66021, 67814, 68387, 68421, 69618, 69911, 72533, 72606, 72612, 72624, 72657, 72681, 72892, 73187], 'Egypt': [99, 803, 848, 968, 1703, 2235, 3186, 3608, 3942, 4996, 5044, 5281, 5451, 5700, 6880, 7243, 7405, 7415, 7711, 7779, 7811, 7922, 8241, 8330, 8882, 8945, 9147, 9179, 9249, 9433, 9445, 9806, 10031, 10415, 10693, 10720, 11174, 11287, 11390, 11870, 12017, 12705, 12978, 13437, 13497, 13539, 14139, 14382, 14386, 14423, 14474, 14477, 14654, 14746, 14792, 14811, 14975, 15005, 15335, 15497, 15584, 15927, 15995, 16067, 16248, 16335, 16864, 16954, 17088, 17168, 17905, 18179, 18534, 18546, 18956, 19106, 19453, 19522, 19561, 19871, 19873, 19941, 20226, 20334, 20360, 20371, 20419, 20474, 20553, 20620, 20646, 20924, 20943, 21268, 21428, 21538, 21545, 21773, 21939, 22119, ...], 'El Salvador': [3909, 9779, 10472, 11600, 12069, 12941, 15159, 15798, 16267, 21607, 21803, 38557, 39173, 39176, 39921, 40614, 40710, 41100, 41634, 41844, 45940, 46310, 46598, 47311, 50124, 50662, 51492, 51903, 53187, 53827, 54706, 55777, 55980, 56674, 56765, 57000, 59034, 59559, 59641, 61247, 62836, 64749, 70708, 70776, 71527], 'Estonia': [1441, 1546, 1958, 2492, 2513, 3512, 3838, 4319, 4500, 4674, 4905, 5211, 5516, 5706, 6568, 6774, 7075, 8253, 8513, 9036, 9478, 9659, 14178, 15007, 15161, 15448, 18032, 18836, 18922, 19388, 19581, 22868, 23055, 23226, 24027, 24196, 24687, 24861, 25041, 26087, 26274, 26339, 26667, 26783, 28567, 28613, 28744, 29057, 29060, 29145, 29305, 30966, 32145, 32961, 33131, 33180, 33225, 33268, 33345, 33364, 33678, 34334, 34646, 34756, 34991, 35139, 35892, 36013, 36127, 36207, 36356, 36672, 36995, 37312, 37387, 37479, 37669, 37827, 39449, 39611, 39667, 40160, 40369, 42703, 42715, 43751, 43835, 46343, 47966, 48070, 48189, 48818, 49033, 49724, 50494, 50810, 51580, 52897, 53771, 54243, ...], 'Ethiopia': [2250, 4586, 7206, 11042, 12843, 15879, 15993, 16168, 16952, 17209, 17994, 18186, 18905, 19075, 19274, 19454, 20093, 21609, 21824, 23294, 26996, 27232, 28163, 28605, 28688, 28816, 28824, 30880, 31873, 33195, 33239, 33274, 33356, 33677, 33780, 34562, 34748, 36358, 36382, 36431, 36645, 38989, 41004, 41900, 42215, 48217, 48505, 49014, 50107, 50827, 53169, 56139, 56234, 56693, 56792, 56920, 57372, 57942, 58294, 59380, 60424, 60483, 61908, 62455, 65033, 65804, 66433, 67325, 67331, 67698, 68520, 68985, 69791, 71226, 72810], 'Fiji': [5335, 31651], 'Finland': [120, 354, 387, 507, 521, 609, 620, 828, 831, 986, 1033, 1141, 1183, 1203, 1431, 1556, 1570, 1632, 1901, 1933, 1936, 1953, 1990, 2013, 2037, 2123, 2193, 2200, 2533, 2650, 2673, 2724, 3569, 3579, 3702, 3729, 3921, 3974, 4021, 4129, 4233, 4613, 4640, 4665, 4780, 4791, 4814, 4901, 5069, 5109, 5377, 5393, 5411, 5433, 5494, 5649, 5669, 5703, 5829, 5941, 5951, 6198, 6233, 6379, 6505, 6555, 6648, 6653, 6666, 6673, 6790, 6901, 6948, 7001, 7059, 7142, 7167, 7464, 7571, 7698, 7728, 7782, 7867, 8009, 8027, 8162, 8251, 8266, 8416, 8442, 8454, 8507, 8525, 8534, 8633, 8978, 8983, 8985, 9061, 9084, ...], 'France': [63, 65, 80, 91, 92, 149, 204, 219, 242, 252, 295, 296, 320, 333, 342, 372, 391, 401, 429, 431, 467, 512, 513, 530, 534, 556, 558, 564, 582

In [10]:
# Check frequency of org size on grouped countries
grouped_freq = country_group["OrgSize"].value_counts()
display(grouped_freq.head(25))

Country      OrgSize
Afghanistan  2 to 9 employees                                       6
             100 to 499 employees                                   5
             10 to 19 employees                                     4
             500 to 999 employees                                   4
             Just me - I am a freelancer, sole proprietor, etc.     4
             I donât know                                           3
             1,000 to 4,999 employees                               2
             10,000 or more employees                               2
             20 to 99 employees                                     2
             5,000 to 9,999 employees                               2
Albania      10 to 19 employees                                    10
             2 to 9 employees                                       9
             20 to 99 employees                                     7
             100 to 499 employees                                   7
             500 to 999 employees                                   4
             Just me - I am a freelancer, sole proprietor, etc.     2
             1,000 to 4,999 employees                               1
Algeria      100 to 499 employees                                   4
             2 to 9 employees                                       4
             20 to 99 employees                                     3
             Just me - I am a freelancer, sole proprietor, etc.     1
             500 to 999 employees                                   1
             1,000 to 4,999 employees                               1
Andorra      1,000 to 4,999 employees                               3
             2 to 9 employees                                       3
Name: count, dtype: int64

---
Since value_counts() returns a Series, we can index to a country and see its individual frequency. This is useful as we only need to change the index to get specific values.

---

In [11]:
display(grouped_freq)
printhr()
# Select subsets in grouped frequency

# Germany
germany_freq = grouped_freq.loc["Germany"]
display(germany_freq)

# Multiple countries
multiple_freq = grouped_freq.loc[["Japan", "India", "China"]]
display(multiple_freq)

Country      OrgSize
Afghanistan  2 to 9 employees                                      6
             100 to 499 employees                                  5
             10 to 19 employees                                    4
             500 to 999 employees                                  4
             Just me - I am a freelancer, sole proprietor, etc.    4
                                                                  ..
Zimbabwe     1,000 to 4,999 employees                              2
             2 to 9 employees                                      2
             100 to 499 employees                                  2
             Just me - I am a freelancer, sole proprietor, etc.    2
             10 to 19 employees                                    1
Name: count, Length: 1239, dtype: int64

========================================

OrgSize
20 to 99 employees                                    834
100 to 499 employees                                  765
10,000 or more employees                              425
1,000 to 4,999 employees                              399
2 to 9 employees                                      355
10 to 19 employees                                    320
500 to 999 employees                                  303
Just me - I am a freelancer, sole proprietor, etc.    186
5,000 to 9,999 employees                              162
I donât know                                           33
Name: count, dtype: int64

Country  OrgSize
Japan    20 to 99 employees                                     60
         100 to 499 employees                                   50
         10,000 or more employees                               32
         1,000 to 4,999 employees                               31
         2 to 9 employees                                       27
         10 to 19 employees                                     24
         Just me - I am a freelancer, sole proprietor, etc.     21
         500 to 999 employees                                   15
         5,000 to 9,999 employees                                6
         I donât know                                            2
India    10,000 or more employees                              952
         20 to 99 employees                                    784
         100 to 499 employees                                  693
         1,000 to 4,999 employees                              424
         500 to 999 employees                                  343
         10 to 19 employees                                    322
         2 to 9 employees                                      319
         5,000 to 9,999 employees                              182
         Just me - I am a freelancer, sole proprietor, etc.    149
         I donât know                                          115
China    10,000 or more employees                               64
         20 to 99 employees                                     61
         100 to 499 employees                                   51
         1,000 to 4,999 employees                               45
         2 to 9 employees                                       27
         10 to 19 employees                                     21
         5,000 to 9,999 employees                               17
         500 to 999 employees                                   14
         Just me - I am a freelancer, sole proprietor, etc.     13
         I donât know                                            8
Name: count, dtype: int64

---
### Applying Methods on Group Objects
Most (if not all) methods that can be applied to Series and DataFrames can be applied to Group objects.  

Multiple aggregations can be done by using the `agg()` (or `aggregate()`, they are equivalent) and passing in the a list of function names to be applied.

---

In [12]:
# Get median of yearly salary (USD) of each country
comp_group = country_group["ConvertedCompYearly"]
comp_median = comp_group.median()
display(comp_median)

Country
Afghanistan                             10894.0
Albania                                 15360.0
Algeria                                  7440.0
Andorra                                 76784.0
Angola                                   3073.5
                                         ...
Venezuela, Bolivarian Republic of...    12000.0
Viet Nam                                11388.0
Yemen                                   15000.0
Zambia                                   6612.0
Zimbabwe                                11400.0
Name: ConvertedCompYearly, Length: 180, dtype: float64

In [13]:
# Get mean, median, and maximum of yearly salary (USD) of each country
comp_group = country_group["ConvertedCompYearly"]
comp_stats = comp_group.agg(["mean", "median", "max"])
display(comp_stats)

# Get same stats for USA
comp_stats_usa = comp_stats.loc["United States of America"]
display(comp_stats_usa)

                                              mean   median       max
Country
Afghanistan                           33914.666667  10894.0  158484.0
Albania                               24895.148148  15360.0  106780.0
Algeria                               12732.888889   7440.0   31992.0
Andorra                               98003.125000  76784.0  213287.0
Angola                                 6222.750000   3073.5   17304.0
...                                            ...      ...       ...
Venezuela, Bolivarian Republic of...  17079.400000  12000.0   74400.0
Viet Nam                              37707.563830  11388.0  995064.0
Yemen                                 17464.666667  15000.0   40000.0
Zambia                                 8452.000000   6612.0   14400.0
Zimbabwe                              87596.000000  11400.0  568968.0

[180 rows x 3 columns]

mean      3.849382e+05
median    1.450000e+05
max       3.500000e+07
Name: United States of America, dtype: float64

---
`agg()` works on DataFrames and Series too! 

---

In [14]:
# Since we will use numerical aggregate functions (median and mode),
# let's create a df consisting only of numeric columns
num_df = df.select_dtypes(include="number")

# Drop empty columns (idk why this are even in the survey. They have no entries)
num_df = num_df.drop(["VCHostingPersonal use", "VCHostingProfessional use"], axis=1)

series = num_df.agg(["median", "mean"])
display(series)

# Note that CompTotal is not normalized; currencies differ and you might see
# extreme contrasts between values.

           CompTotal    WorkExp  ConvertedCompYearly
median  7.750000e+04   8.000000         67845.000000
mean    2.342434e+52  10.242378        170761.277849

In [15]:
# agg() on Series
series = df["ConvertedCompYearly"].agg(["median", "mean"])
display(series)

median     67845.000000
mean      170761.277849
Name: ConvertedCompYearly, dtype: float64

---
## More Examples on Exploring Data


---

---
### E1. How many developers from Japan knows Python?
We can create a filter for both the conditions (Japan, and Python), and count how the True values from the filter either by using previously `value_counts()` or by the `sum()` method.  

`sum()` is normally used on numerical values, but it can also work on Booleans; it returns the count of True values.

---

In [16]:
# Filter respondents who is in Japan
filt_country = df["Country"] == "Japan"

# Filter for respondents that works with Python
# This will result to a filter of respondents who works in Japan AND works with Python
filt = df.loc[filt_country]["LanguageHaveWorkedWith"].str.contains("Python").dropna()
# dropna() drops NaN values because some respondents did not fill out the question.

---
#### E1. Python users by country
Using a groupby's `apply()` method, let us determine the proportion of developers by country who knows Python.  

The `groupby.apply()` method takes a function name as it's argument and that function should be able to take a Series as its argument and return a DataFrame. `apply()` will take care of combining the results back together into a single DataFrame or Series.

---

In [17]:
# First we create a DataFrame.groupby object:
country_group = df.groupby("Country")


# Define function for getting proportion of devs who knows Python
def python_proportion(series):
    # This only compares the number of devs who know Python
    # to the total non-NA values. Use len(series) to include
    # NA values.
    n_python = series.str.contains("Python").sum()
    return (n_python) / series.count()


series_python_proportions = country_group["LanguageHaveWorkedWith"].apply(
    python_proportion
)
display(series_python_proportions)

Country
Afghanistan                             0.390625
Albania                                 0.339286
Algeria                                 0.527778
Andorra                                 0.266667
Angola                                  0.272727
                                          ...
Venezuela, Bolivarian Republic of...    0.440678
Viet Nam                                0.447368
Yemen                                   0.285714
Zambia                                  0.352941
Zimbabwe                                0.392857
Name: LanguageHaveWorkedWith, Length: 180, dtype: float64

In [18]:
# By using a lambda fraction, we can achieve the same results:
series_python_proportions_2 = country_group["LanguageHaveWorkedWith"].apply(
    lambda x: x.str.contains("Python").sum() / x.count()
)
display(series_python_proportions_2)

Country
Afghanistan                             0.390625
Albania                                 0.339286
Algeria                                 0.527778
Andorra                                 0.266667
Angola                                  0.272727
                                          ...
Venezuela, Bolivarian Republic of...    0.440678
Viet Nam                                0.447368
Yemen                                   0.285714
Zambia                                  0.352941
Zimbabwe                                0.392857
Name: LanguageHaveWorkedWith, Length: 180, dtype: float64

---
Create a df by concatenating the Series of people who knows Python (in proportion and in frequency), and the total respondents by country (non-NA). 

---

In [19]:
# Series
series_python_freq = country_group["LanguageHaveWorkedWith"].apply(
    lambda x: x.str.contains("Python").sum()
)

series_n_respondents = country_group["LanguageHaveWorkedWith"].count()

# Create df
df_python = pd.concat(
    objs=[series_python_proportions, series_python_freq, series_n_respondents],
    keys=["PercentPython", "KnowsPython", "TotalRespondents"],
    axis="columns",
)

display(df_python)

,PercentPython,KnowsPython,TotalRespondents
Country,,,
Afghanistan,0.390625,25,64
Albania,0.339286,19,56
Algeria,0.527778,19,36
Andorra,0.266667,4,15
Angola,0.272727,3,11
...,...,...,...
"Venezuela, Bolivarian Republic of...",0.440678,52,118
Viet Nam,0.447368,136,304
Yemen,0.285714,4,14
Zambia,0.352941,6,17
Zimbabwe,0.392857,11,28

---
There are numerous ways to achieve the df we got from the previous example, another one is instead of creating 3 Series independently, we can create the `series_python_porportions` as a derived Series from the other 2 Series.

The reason why the previous example was concatenated that way was for convenience since `series_python_proportions` was already created from a previous example.

---

In [20]:
# Instead of using the apply function, just derive the series_python_proportions
# Series from the two existing Series.
series_python_proportions_2 = series_python_freq / series_n_respondents
df_python2 = pd.concat(
    objs=[series_python_proportions_2, series_python_freq, series_n_respondents],
    keys=["PercentPython", "KnowsPython", "TotalRespondents"],
    axis="columns",
)

display(df_python2)

,PercentPython,KnowsPython,TotalRespondents
Country,,,
Afghanistan,0.390625,25,64
Albania,0.339286,19,56
Algeria,0.527778,19,36
Andorra,0.266667,4,15
Angola,0.272727,3,11
...,...,...,...
"Venezuela, Bolivarian Republic of...",0.440678,52,118
Viet Nam,0.447368,136,304
Yemen,0.285714,4,14
Zambia,0.352941,6,17
Zimbabwe,0.392857,11,28