---
# Sorting Data on stackoverflow Data Set
More sorting examples done on real world data.

---

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
# Function for printing a horizontal line. For display purpose
def printhr(s: str = None, n: int = 40):
    """Print a horizontal rule of the character "=" of length n.

    Args:
        s (str, optional): Header message. Defaults to None.
        n (int, optional): Number of characters. Defaults to 50.
    """

    if s:
        print("=" * int(n / 2), s, "=" * int(n / 2))
    else:
        print("=" * n)

In [3]:
# Stackoverflow developer survey
df = pd.read_csv("data/survey_results_public_2022.csv", index_col="ResponseId")
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="qname")

---
**Sort country alphabetically, and sort by salary (descending) within country.**

---

In [4]:
df_sorted = df.sort_values(by=["Country", "ConvertedCompYearly"], ascending=[True, False])
df_sorted = df_sorted[["Country", "ConvertedCompYearly"]].head(75)
display(df_sorted)

                Country  ConvertedCompYearly
ResponseId
38513       Afghanistan             158484.0
43640       Afghanistan              92448.0
6892        Afghanistan              15600.0
43691       Afghanistan              13212.0
2449        Afghanistan              10894.0
...                 ...                  ...
12748           Albania              85315.0
72371           Albania              66000.0
5622            Albania              63986.0
56883           Albania              57600.0
19216           Albania              48000.0

[75 rows x 2 columns]

---
**Sort salary using `nlargest()`**

---

In [11]:
df_highest = df.nlargest(10, "ConvertedCompYearly").head()
display(df_highest)

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
40305,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Full in-person,Freelance/contract work,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Blogs;Stack Overflow;Online books;Video-based ...,NaN,Less than 1 year,2,...,60-120 minutes a day,60-120 minutes a day,Very long,Innersource initiative;DevOps function;Develop...,Yes,Yes,Yes,Appropriate in length,Easy,50000000.0
202,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;edX,9,6,...,30-60 minutes a day,Less than 15 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,44790396.0
62027,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Written Tutorials;Video-based Online Courses;O...,NaN,6,1,...,60-120 minutes a day,30-60 minutes a day,Somewhat long,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,35000000.0
70523,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy;Pluralsight;Udacity;Other,22,10,...,30-60 minutes a day,Less than 15 minutes a day,Somewhat short,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,32500000.0
61044,I am a developer by profession,I prefer not to say,NaN,NaN,Primary/elementary school,On the job training;Online Courses or Certific...,NaN,Skillsoft,Less than 1 year,Less than 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,28853768.0