---
# Sorting Data
Sorting a column and multiple columns

---

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
# Function for printing a horizontal line. For display purpose
def printhr(s: str = None, n: int = 40):
    """Print a horizontal rule of the character "=" of length n.

    Args:
        s (str, optional): Header message. Defaults to None.
        n (int, optional): Number of characters. Defaults to 50.
    """

    if s:
        print("=" * int(n / 2), s, "=" * int(n / 2))
    else:
        print("=" * n)

In [69]:
people = {
    "first": ["Lorem", "John", "Jane"],
    "last": ["Ipsum", "Doe", "Doe"],
    "email": ["lorem@yahoo.com", "john@gmail.com", "jane@outlook.com"],
    "score": [88, 90, 85]
}
df = pd.DataFrame(people)
display(df)

   first   last             email  score
0  Lorem  Ipsum   lorem@yahoo.com     88
1   John    Doe    john@gmail.com     90
2   Jane    Doe  jane@outlook.com     85

---
## Sort Single Row or Column

An axis (defaults to the "rows" axis, meaning sort the rows) can be sorted using `sort_values()` and passing in the label name (either index or column name) of the axis to be sorted.  

Values are sorted in ascending order by default and determined by the bool **ascending** parameter.  

**Note:** this method does not modify the original df. Modify the original by setting the inplace parameter to True.  

---

In [81]:
# Sort by score in descending order
display(df)
printhr()

# Sort the rows
sorted_df = df.sort_values("score", ascending=False)
display(sorted_df)

   first   last             email  score
0  Lorem  Ipsum   lorem@yahoo.com     88
1   John    Doe    john@gmail.com     90
2   Jane    Doe  jane@outlook.com     85

========================================

   first   last             email  score
1   John    Doe    john@gmail.com     90
0  Lorem  Ipsum   lorem@yahoo.com     88
2   Jane    Doe  jane@outlook.com     85

In [90]:
# Sorting the columns (axis=1 or axis="columns")
# Create new df since we cant sort an axis containing a str and a number.
people2 = {
    "first": ["Lorem", "John", "Jane"],
    "last": ["Ipsum", "Doe", "Doe"],
    "email": ["lorem@yahoo.com", "john@gmail.com", "jane@outlook.com"],
}
df2 = pd.DataFrame(people2)

display(df2)
printhr()

# Sort by the "1" index
sorted_df = df2.sort_values(1, axis="columns")
display(sorted_df)

   first   last             email
0  Lorem  Ipsum   lorem@yahoo.com
1   John    Doe    john@gmail.com
2   Jane    Doe  jane@outlook.com

========================================

    last  first             email
0  Ipsum  Lorem   lorem@yahoo.com
1    Doe   John    john@gmail.com
2    Doe   Jane  jane@outlook.com